{{define "content"}}


<div class="container">
    <div class="row align-items-center justify-content-center mb-4">
        <div class="col-md-9">
            <h1>Nuestros servicios</h1>
        </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
        <div class="col-md-9">
            <p>En Artdotech, ofrecemos una variedad de servicios diseñados para satisfacer tus necesidades tecnológicas:
            </p>
        </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
        <div class="col-md-3 order-md-1">
            <img src="/static/development.jpeg" class="img-fluid rounded-circle shadow"
                style="width: 250px; height: 250px; object-fit: cover;" alt="Desarrollo de Software">
        </div>
        <div class="col-md-6 order-md-2">
            <h5>Desarrollo de Software a Medida</h5>
            <p>Diseñamos y desarrollamos aplicaciones personalizadas que se adaptan perfectamente a las necesidades
                únicas de tu negocio, optimizando procesos y mejorando la eficiencia operativa.</p>
        </div>
    </div>

    <div class="row align-items-center justify-content-center mb-4">
        <div class="col-md-3 order-md-2">
            <img src="/static/consultoring.jpeg" class="img-fluid rounded-circle shadow"
                style="width: 250px; height: 250px; object-fit: cover;" alt="Consultoría Tecnológica">
        </div>
        <div class="col-md-6 order-md-1">
            <h5>Consultoría Tecnológica</h5>
            <p>Nuestros expertos en tecnología ofrecen asesoramiento estratégico para ayudarte a definir la mejor
                estrategia digital y aprovechar al máximo las últimas tendencias tecnológicas.</p>
        </div>
    </div>

    <div class="row align-items-center justify-content-center mb-4">
        <div class="col-md-3 order-md-1">
            <img src="/static/support.jpeg" class="img-fluid rounded-circle shadow"
                style="width: 250px; height: 250px; object-fit: cover;" alt="Mantenimiento y Soporte Técnico">
        </div>
        <div class="col-md-6 order-md-2">
            <h5>Mantenimiento y Soporte Técnico</h5>
            <p>Garantizamos el funcionamiento continuo y la seguridad de tus sistemas con nuestro servicio de
                mantenimiento proactivo y soporte técnico especializado disponible en todo momento.</p>
        </div>
    </div>

    <div class="row align-items-center justify-content-center mb-4">
        <div class="col-md-3 order-md-2">
            <img src="/static/integration.jpeg" class="img-fluid rounded-circle shadow"
                style="width: 250px; height: 250px; object-fit: cover;" alt="Integración de Sistemas">
        </div>
        <div class="col-md-6 order-md-1">
            <h5>Integración de Sistemas</h5>
            <p>Integramos de manera fluida y eficiente tus sistemas existentes con nuevas tecnologías para maximizar la
                interoperabilidad y la sinergia entre diferentes plataformas y aplicaciones.</p>
        </div>
    </div>

    <div class="row align-items-center justify-content-center mb-4">
        <div class="col-md-3 order-md-1">
            <img src="/static/mobiles.jpeg" class="img-fluid rounded-circle shadow"
                style="width: 250px; height: 250px; object-fit: cover;" alt="Desarrollo de Aplicaciones Móviles">
        </div>
        <div class="col-md-6 order-md-2">
            <h5>Desarrollo de Aplicaciones Móviles</h5>
            <p>Creamos aplicaciones móviles intuitivas y potentes que amplían el alcance de tu negocio, conectando con
                tus clientes dondequiera que estén y ofreciendo experiencias únicas y personalizadas.</p>
        </div>
    </div>
</div>
{{end}}