{{define "content"}}
<div class="container">
    <!-- Sección ¿Quiénes somos? -->
    <div class="row align-items-center justify-content-center mb-4 pt-5">
        <div class="col-md-3 text-center">
            <img src="/static/empresa.jpg" class="img-fluid rounded-circle shadow"
                style="width: 250px; height: 250px; object-fit: cover;" alt="Imagen de la Empresa">
        </div>
        <div class="col-md-6 text-center">
            <h5>¿Quiénes somos?</h5>
            <p>Artdotech es líder en innovación tecnológica, especializada en ofrecer soluciones de software a medida
                que transforman ideas en realidad digital. Nuestro compromiso es impulsar el éxito de nuestros clientes
                a
                través de tecnología avanzada y creatividad sin límites.</p>
        </div>
    </div>

    <!-- Sección Misión -->
    <div class="row align-items-center justify-content-center mb-4">
        <div class="col-md-3 text-center">
            <img src="/static/vision.jpg" class="img-fluid rounded-circle shadow"
                style="width: 250px; height: 250px; object-fit: cover;" alt="Imagen de Misión">
        </div>
        <div class="col-md-6 text-center">
            <h5>Misión</h5>
            <p>En Artdotech, nuestra misión es impulsar la transformación digital de empresas y organizaciones mediante
                soluciones tecnológicas innovadoras y personalizadas que superen las expectativas y generen un impacto
                positivo en el mundo.</p>
        </div>
    </div>
</div>
{{end}}