{{define "content"}}
<div class="container">
    <!-- Sección ¿Quiénes somos? -->
    <div class="row align-items-center justify-content-center mb-4 pt-5">
        <div class="col-md-3 text-center">
            <img src="/static/empresa.jpg" class="img-fluid rounded-circle shadow"
                style="width: 250px; height: 250px; object-fit: cover;" alt="Imagen de la Empresa">
        </div>
        <div class="col-md-6 text-center">
            <h5>Nuestra Visión</h5>
            <p>Ser reconocidos como un aliado estratégico en el desarrollo de soluciones tecnológicas en Latinoamérica, distinguidos por nuestra calidad, compromiso y capacidad para convertir desafíos en oportunidades digitales.</p>
        </div>
    </div>

    <!-- Sección Misión -->
    <div class="row align-items-center justify-content-center mb-4">
        <div class="col-md-3 text-center">
            <img src="/static/vision.jpg" class="img-fluid rounded-circle shadow"
                style="width: 250px; height: 250px; object-fit: cover;" alt="Imagen de Misión">
        </div>
        <div class="col-md-6 text-center">
            <h5>Nuestra Misión</h5>
            <p>Desarrollar soluciones tecnológicas innovadoras, seguras y personalizadas que acompañen a nuestros clientes en su proceso de transformación digital, superando sus expectativas y generando valor sostenible.</p>
        </div>
    </div>
</div>
{{end}}